---
import ButtonForModal from "../components/funnel/ButtonForModal.jsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="ND - Analisis de negocio" useHeader={false}>
  <main>
    <section class="home-funnel">
      <div
        class="opacity-frame h-screen flex flex-col items-center justify-center"
      >
        <h2 class="text-center">
          <span class="font-bold text-3xl">NACHO MAUGERI</span><br />
          <span class="text-white">GROWTH PARTNER</span>
        </h2>
        <p class="text-white max-w-[400px] my-20 text-center text-[18px] mx-5">
          Creamos <span class="font-bold text-[var(--accent-color)]"
            >embudos de venta personalizados</span
          >
          para tu empresa
        </p>
        <ButtonForModal client:visible />
      </div>
    </section>
    <section class="information-funnel">
      <div
        class="opacity-frame op-mod pb-12 flex flex-col items-center text-white text-center"
      >
        <h3 class="title">Creamos flujo de clientes para tu negocio</h3>
        <p class="mt-10 px-10">
          Como tus Growth Partners, ofrecemos un <strong
            >servicio integral diseñado para potenciar tu negocio</strong
          > mediante estrategias de crecimiento efectivas y personalizadas.
        </p>
        <p class="mt-5 mb-10 px-10">
          Nuestro enfoque único combina la creación de embudos de ventas
          optimizados con campañas publicitarias estratégicas y generación de
          leads, asegurando un <strong
            >aumento significativo en las ventas y un retorno de la inversión</strong
          > tangible para tu empresa.
        </p>
        <div class="frame-funnel mb-20">
          <p class="text-center">
            Embudos de ventas para <br />
            <span class="accent-text">CAPTAR MAS CLIENTES</span>
          </p>
          <p class="text-center">
            Closers de ventas para<br />
            <span class="accent-text">AUMENTAR LA EFECTIVIDAD</span>
          </p>
          <p class="text-center">
            Email y Whatsapp marketing para<br /><span class="accent-text"
              >QUE TUS CLIENTES RECOMPREN</span
            >
          </p>
          <p class="text-center">
            Estrategias comerciales para<br /><span class="accent-text"
              >GENERAR OPORTUNIDADES DE VENTA</span
            >
          </p>
        </div>
        <ButtonForModal client:visible />
      </div>
    </section>

    <footer class="bg-[#2e2e2e] text-white">
      <p class="text-center m-0 p-2">
        Neuromarketing Digital - Todos los derechos reservados
      </p>
    </footer>
  </main>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

  :root {
    --accent-color: #caa41b;
  }

  /* normalize css */

  * {
    font-family: "Montserrat", sans-serif;
  }

  /* home - click funnel */
  main {
    background-image: url("/papper-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }

  div.opacity-frame {
    background-color: rgba(0, 0, 0, 0.45);
    min-height: 85vh;
  }

  .home-funnel h2 {
    color: var(--accent-color);
    font-size: 1.5rem;
    font-weight: 500;
  }

  div.opacity-frame.op-mod {
    background-color: rgba(0, 0, 0, 0.45);
    height: fit-content;
  }

  .title {
    font-weight: 700;
    font-size: 1.55rem;
    padding: 0 20px;
    color: var(--accent-color);
  }

  div.frame-funnel {
    border: 2px solid var(--accent-color);
    width: 90%;
    background-color: #2525257a;
  }

  div.frame-funnel p {
    padding: 0 25px;
    margin: 30px 0;
    font-size: 16px;
  }

  span.accent-text {
    color: #c9a750;
    font-weight: bold;
  }

  .information-funnel button {
    margin-top: 70px;
  }
  /* footer styles */
  footer p {
    font-size: 12px;
  }
</style>
