---
import { Image } from "astro:assets";
import whatsappIcon from "../assets/whatsapp 1.png";
---

<a
  href="https://api.whatsapp.com/send?phone=34631544570&text=Hola%20Nacho!%20quiero%20aumentar%20las%20ventas%20de%20mi%20empresa%20%F0%9F%94%A5"
  class="cursor-pointer fixed bottom-0 right-0 rounded-full"
>
  <Image
    class="rounded-full w-14 m-5"
    src={whatsappIcon}
    alt="icono whatsapp"
  />
</a>
